<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Protest Tracker</title>
    <link href="protest.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <h1 id = "title">Protest Tracker</h1>

    <p>Want to join a protest? Put your zip code in below, and we'll point you to the closest one.</p>
   
    <form method="POST" action="/index">
      <label for="word">Enter your zip code here:</label><br>
      <input type="text" name="word" value="word or phrase here"><br>
      <input type="submit" value="Submit">
    </form>

    <p>{{protestInfo}}</p>

    <!-- <p>
        1. Date: {{date}} <br>
        2. Time: {{time}} <br>
        3. Location: {{location}} <br>
        4. Leadership: {{leadership}} 
    </p> -->
  </body>
  
</html>